// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body{
  .inline-icons{
    padding-bottom: 1px;
    padding-top: 4px
  }
  .icon-xs{
    font-size: 16px!important;
    vertical-align: text-bottom;
  }
  .custom-xs{
    padding: 0 4px;
    font-size: 14px;
    float: left;
    margin-right: 5px;
  }
  .bg-danger{
    padding: 15px;
  }
  .box{
    border: 1px solid #f6f6f6;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}
